@{
    ViewBag.Title = "STAFF MEDICO:";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <style>
        .w3-lobster {
            font-family: "Lobster", serif;
        }
    </style>
</head>
<body>
    <div class="w3-panel w3-border">
        <div class="w3-container">
            <div class="w3-panel w3-topbar w3-bottombar w3-border-orange w3-pale-orange">
                <div class="w3-container w3-lobster">
                    <p class="w3-xxlarge">@ViewBag.Title</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Veterinario: Juana Periola</h5>
                    <img src="~/Imagen/Vete.jpg" class="w3-circle" alt="Norway" style="width:50%">
                </div>
                <div class="col-md-4">
                    <h5>Veterinario: Pedro Juan Alvez</h5>
                    <img src="~/Imagen/Vete1.jpg" class="w3-circle" alt="Norway" style="width:50%">
                </div>
                <div class="col-md-4">
                    <h5>Veterinario: Marta Lamonja</h5>
                    <img src="~/Imagen/Vete2.jpg" class="w3-circle" alt="Norway" style="width:50%">
                </div>
            </div>
        </div>
        <br />
        <div class="w3-container">
            <div class="w3-panel w3-topbar w3-bottombar w3-border-orange w3-pale-orange">
                <div class="w3-container w3-lobster">
                    <p class="w3-xxlarge">NUESTROS SERVICIOS:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>ESTETICOS</h5>
                    <img src="~/Imagen/Ser2.jpg" class="w3-circle" alt="Norway" style="width:50%">
                </div>
                <div class="col-md-4">
                    <h5>CLINICOS</h5>
                    <img src="~/Imagen/Ser.jpg" class="w3-circle" alt="Norway" style="width:50%">
                </div>
                <div class="col-md-4">
                    <h5>RECREATIVOS</h5>
                    <img src="~/Imagen/ser1.jpg" Class="w3-circle" alt="Norway" style="width:50%">
                </div>
            </div>
        </div>
        <br />
        <div class="w3-container">
            <div class="w3-panel w3-topbar w3-bottombar w3-border-orange w3-pale-orange">
                <div class="w3-container w3-lobster">
                    <p class="w3-xxlarge">NUESTROS LOCALES:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>LIMA-Miraflores</h5>
                    <img src="~/Imagen/Vet1.jpg" class="w3-circle" alt="Norway" style="width:50%">
                </div>
                <div class="col-md-4">
                    <h5>LIMA-La Molina</h5>
                    <img src="~/Imagen/Vet2.jpg" class="w3-circle" alt="Norway" style="width:50%">
                </div>
                <div class="col-md-4">
                    <h5>LIMA-San Borja</h5>
                    <img src="~/Imagen/Vet3.jpg" Class="w3-circle" alt="Norway" style="width:50%">
                </div>
            </div>
        </div>
        </div>

</body>
</html> 
