@{
    ViewBag.Title = "Contacto";
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   </head>
<body>
    <div class="w3-container">
        <h2>@ViewBag.Title</h2>
        <div class="col-md-4">

            <img src="~/Imagen/index.jpg" class="w3-hover-opacity" alt="Norway" style="width:100%">
        </div>
                    <div class="col-md-4">
                        <p>NUESTRO STAFF ESTÁ PREPARADO PARA PODER SATISFACER TODAS SUS NECESIDADES</p>
                        <address>
                            OFICINA PRINCIPAL: Lima, Av.Las tortuguitas 365
                            <abbr title="Phone">P:</abbr>
                            425-6787
                        </address>
                        <address>
                            Horario Lunes a sábado: 8:00 a.m. – 8:00 p.m. Domingos y feriados: 8:00 a.m. – 1:00 p.m.
                        </address><br />
                        <address>
                            <strong>VetStore</strong>  vetStore@gmail.com<br />

                        </address>
                    </div>
                </div>

            </body>
</html>

        
        