@{
    ViewBag.Title = "INICIO VETSTORE";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>VetStore</title>
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/style_1.css" rel="stylesheet" />

</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">VETSTORE</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="~/Views/Home/Index.cshtml">INICIO</a></li>
                <li><a href="~/Views/Home/About.cshtml">ACERCA</a></li>
                <li><a href="~/Views/Home/Contact.cshtml">CONTACTO</a></li>
                <li><a href="~/Views/Home/Galeria.cshtml">GALERIA</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            
        </div>
        <div class="parallax">
            <img src="~/Imagen/IMAGEN3.jpg" />
        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">OBJEIVOS</h5>

                        <p class="light">
                            Fomentar la integración de cada mascota al seno familiar,
                            reconociéndola como un miembro más, capaz de brindar afecto
                            y alegría de forma incondicional y desinteresada.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">MISION</h5>

                        <p class="light">
                            Somos una institución enraizada en la pasión por brindar la mejor
                            calidad de vida a las mascotas que nos conforman y el mejor trato a
                            las familias que las acompañan. 
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">VISION</h5>

                        <p class="light">
                            Ser la mejor clínica veterinaria de especialidades del país,
                            respaldándonos en nuestro staff médico, conformado por los
                            miembros más destacados de las diferentes ramas veterinarias.

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
                    Nuestros medicos son los mejores profesionales
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="~/Imagen/IMAGEN5.jpg" />
        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4> VETSTORE</h4>
                    <p class="left-align light"> <center>UN MUNDO DE POSIBILIDADES PARA TU ENGREÍDO</center>

                        <br>
                        <table>
                            <tr>
                                <td>
                                    <img src="~/Imagen/LOGO1.jpg" width="130" />
                                </td>
                                <td>
                                    <img src="~/Imagen/LOGO2.jpg" width="130" />
                                </td>
                                <td>
                                    <img src="~/Imagen/LOGO3.jpg" width="130" />
                                </td>
                                
                            </tr>
                        </table>
                    </p>
                </div>
            </div>

        </div>
    </div>


    
                
                


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/init.js"></script>


</body>
</html>